@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-heading: var(--font-hanken);
  --font-body: var(--font-fraunces);

  /* Brand colours */
  --color-plum:  #40141F;
  --color-terra: #BF6836;
  --color-sand:  #BF9663;
  --color-gold:  #BF964B;
  --color-mist:  #F0F0F2;
}
